# Max OS X
.DS_Store
Icon?

# Windows
Thumbs.db

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

# Eclipse
*.pydevproject
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
.buildpath
.externalToolBuilders/

# CDT-specific
.cproject

# PHP
error_log

# Other
*.log
*.tmp
*.bak
*.swp
*~.nib

# Trellis Desk
/config.php
/data/*
!/data/cache
/data/cache/*
!/data/cache/index.html
!/data/cache/htmlpurifier
!/data/cache/trellis
/data/cache/htmlpurifier/*
!/data/cache/htmlpurifier/index.html
/data/cache/trellis/*
!/data/cache/trellis/index.html
!/data/logs
/data/logs/*
!/data/logs/index.html
!/data/skin_compile
/data/skin_compile/*
!/data/skin_compile/index.html
!/data/temp
/data/temp/*
!/data/temp/index.html
!/data/uploads
/data/uploads/*
!/data/uploads/index.html
/install/install.lock
